.App-header {
    display: flex;
    justify-items: auto;
    justify-self: auto;
    justify-content: center;
}

#logo_part {
    text-align: center;
}
.parent {
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: left;
    padding-left: 50px;
}

#form_line {
    width: 500px;
}

#line {
    display: flex;
}

#text {
    width: 500px;
    text-align: right;
    justify-items: end;
}

#heading {
    text-align: center;
}

::placeholder {
    font-weight: 600;
    color: rgb(0, 0, 0);
}

#logo {
    height: 100px;
    width: 100px;
}

#table1,
#table2 {
    width: 700px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}
